<div>
  <ul>
    <li><button (click)="iAmOk()">je suis ok</button></li>
    <li><button (click)="iAmNotOk()">je suis pas ok</button></li>
    <li><button (click)="iAmNeutral()">je suis neutre</button></li>

  </ul>
</div>
