<div>champs remplir: {{myForm.valid}}</div>
<div> champs pas remplir: {{myForm.invalid}}</div>
<div> {{myForm.get('name').errors | json}}</div>


<form [formGroup]="myForm" (ngSubmit)="sendForm()">
  <label>
    Nom de l'hotel
    <input type="text" formControlName="name">
    <em *ngIf="myForm.get('name').invalid"> le champs et obligatoire et doit faire moins de 10 carateres </em>
  </label>
  <label>
    Nombre de chambre
    <input type="number" formControlName="roomNumbers">
  </label>
  <label>
    Avec piscine
    <input type="checkbox" formControlName="pool">
  </label>

  <button type="submit">envoyer</button>
</form>




