<h1>{{message}}</h1>

<h1>Mon App</h1>
<app-menu1  [age]="age"></app-menu1>
<router-outlet></router-outlet>

<button (click)="creatHotel()">Envoyer</button>
<button (click)="deleteHotel()">Delete</button>
<button (click)="putHotel()">new hotel</button>
<button (click)="updateHotel()">Upadete</button>

<app-mood (handleMoodChange)="manageMoodChange($event)"></app-mood>
