<app-menu-logo></app-menu-logo>

<ul>
  bonjour, {{sayHello().age}} {{sayHello().name}}
<div>j'ai {{age}} ans</div>
<ng-container *ngFor="let current of routes">
  <li *ngIf="age> current.minimunAge">
    <a  [routerLink]="current.url">{{current.name}}</a>
  </li>
</ng-container>
</ul>
